body {
  background-color: forestgreen;
  color: goldenrod;
  text-align: center;
}

.content {
  background-color: antiquewhite;
  color: black;
  text-align: left;
  outline-style: groove;
  outline-color: goldenrod;
}

/* navigation bar */
.nav {
  background-color: goldenrod;
  color: forestgreen;
  outline-style: groove;
  outline-color: goldenrod;
}

