/* version indicator */
.indicator {
	color: blue;
	font-weight: bold;
}


/* navigation bar */
.nav {
  display: flex;
  justify-content: center;
  background-color: goldenrod;
  color: forestgreen;
  border-style: groove;
  border-color: goldenrod;
  border-width: .35rem;
  margin-bottom: 5px;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 10px 0;
}

.nav a, .nav a:link {
  color: darkslategray;
  text-decoration: none;
  padding: 0 10px;
}
.nav a:visited {
  color: darkslategray;
}
.nav a:hover, a:active  {
  color: black;
}


/* PROGRESS TRACKER */
.progress {
	background-color: Bisque;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	outline-style: groove;
	padding-bottom: 21px;
}

x {
	text-decoration: line-through;
}

o {
	background-color: yellowgreen;
	font-style: italic;
}

/* footer */
.foot {
  text-shadow: 0.1rem 0.1rem darkslategray;
  font-size: 0.875rem;
}


/* Making the audo player consistent across brower engines */
audio::-webkit-media-controls-panel {
    background-color: 474440;
	color: ffffff;
}

audio {
    border-radius: 20px;
}


/* body */
.content img {
	max-width: 100%;
	height: auto;
	width: auto;
    display: block;
	margin: 0 auto;
	min-width: 300px;
}

body {
  background-color: forestgreen;
  color: goldenrod;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
}
	
.content {
	background-color: antiquewhite;
	color: black;
	text-align: left;
	justify-content: center;
	border-style: groove;
	border-color: goldenrod;
	border-width: .35rem;
	padding: 2px;
	margin:0 auto;
}

.center {
	text-align: center;
}

.content p {
  font-size: 1rem;
}
