/* version indicator */
.indicator {
	color: red;
	font-weight: bold;
}

body {
  background-color: forestgreen;
  color: goldenrod;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
}

.content {
  background-color: antiquewhite;
  color: black;
  text-align: left;
  border-style: groove;
  border-color: goldenrod;
  border-width: 2px;
}

.content p {
  font-size: 1rem;


/* navigation bar */
.nav {
  background-color: goldenrod;
  color: forestgreen;
  font-size: 1.25rem;
  border-style: groove;
  border-color: goldenrod;
  border-width: 2px;
  padding: 0.3rem 0;
}
.nav a {
  display: inline-block;
}
.nav a:link {
  color: darkslategray;
  text-decoration: none;
}
.nav a:visited {
  color: darkslategray;
}
.nav a:hover {
  color: black;
}
.nav a:active {
  color: black;
  font-weight: bold;
}


/* footer */
.foot {
  text-shadow: 0.1rem 0.1rem darkslategray;
  font-size: 0.875rem;
}
