body {
  background-color: forestgreen;
  color: goldenrod;
  text-align: center;
  font-family: "Times new roman", Times, serif;
}

.title {
  text-shadow: 2px 2px black;
  text-align: center;
  font-family: "Papyrus", Times, serif;
  font-style: bold;
}

.nav {
  background-color: goldenrod;
  color: forestgreen;
  text-align: center;
  font-family: "Times new roman", Times, serif;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
  margin-bottom: 3px;
  outline-style: groove;
}

a:link {
  color: darkslategray;
  text-decoration: none;
}
a:visited {
  color: darkslategray;
}
a:hover {
  color: black;
}
a:active {
  color: black;
  font-style: bold;
}

.content {
  background-color: antiquewhite;
  color: black;
  text-align: center;
  outline-style: groove;
  width: 95%;
  height: 80%;
  padding-top: 5px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

x {
  text-decoration-line: line-through;
}

o {
  background-color: yellowgreen;
  font-style: italic;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

th {
  text-decoration-line: underline;
}

th, td {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.makar {
  width: 40%;
  height: 40%;
}

.thanks {
  border: none;
  outline-style: groove;
  outline-color: goldenrod;
  color: black;
  background-color: goldenrod;
  padding: 10px 10px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.5s;
}

.thanks:hover {
  background-color: antiquewhite;
  outline-color: antiquewhite;
}
