body {
  background-color: forestgreen;
  color: goldenrod;
  text-align: center;
  font-family: "Times new roman", Times, serif;
}

h1 {
  color: goldenrod;
  text-shadow: 2px 2px black;
  text-align: center;
  font-family: "Papyrus", Times, serif;
}

div-1 {
  color: goldenrod;
  text-align: center;
  font-family: "Times new roman", Times, serif;
}

div-2 {
  background-color: white;
  color: goldenrod;
  text-align: center;
}

## Div-1 = Navigation Bar
