body {
  background-color: forestgreen;
  color: goldenrod;
  text-align: center;
  font-family: "Times new roman", Times, serif;
}

h1 {
  text-shadow: 2px 2px black;
  text-align: center;
  font-family: "Papyrus", Times, serif;
}

nav {
  background-color: goldenrod;
  color: forestgreen;
  text-align: center;
  font-family: "Times new roman", Times, serif;
}

content {
  background-color: white;
  color: black;
  text-align: center;
}
